@model Email.Models.gmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Index", "Email", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <center>
                <h1>SMTP OF GMAIL</h1>
                <h2>SMTP OF GMAIL</h2>
                <hr />
                <table>
                    <tr>
                        <td style="width: 80px">
                            To:
                        <td>@Html.TextBoxFor(model=>model.To)</td>
                    </tr>
                    <tr>
                        <td>
                            Subject:
                        </td>
                        <td>@Html.TextBoxFor(model => model.Subject)</td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Body:
                        </td>
                        <td> @Html.TextAreaFor(model => model.Body, new { rows="15", cols="25"})</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Send" />
                        </td>
                    </tr>

                </table>
                <br />
                 <span style" ="color:red">@ViewBag.Message</span>
            </center>
        }


    </div>
</body>
</html>
